* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    background-color: rgb(214, 211, 184);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #646864;              
} 

/* For portrait-Phones, 600px and down */
nav {
    display: none;
}
header {
    position: fixed;   
    top: 0;     
   background-color: rgb(208, 226, 204);  
    color: rgb(73, 89, 114);
    width: 100%;
    text-align: center;
    font-family: 'Prompt', sans-serif;  
    letter-spacing: 2px;
    padding-bottom: 0.625rem;    
    z-index: 2; 
    font-size: 17px;
}
header h1 {
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
}
.about  {       
    margin-top: 190px;      
    word-spacing: 2px;
    line-height: 30px;
    text-align: auto;  
    background-color: ivory;
    padding: 10px 20px 10px 0px;    
}
.img1 {
    width: 100%;
    height: 300px;
    margin-left: 10px;
    opacity: 0.9;
}
 .img2 {
    display: block;
    width: 55%; 
    height: auto;   
   opacity: 0.9; 
   margin-left: auto;
   margin-right: auto;     
}
 h2 {
     text-align: center;
     letter-spacing: 1px;
 }
 .img3,.img4 {
     display: none;
 }
 
.imgbox {      
    width: 100%;
    height: auto;
    object-fit:cover; 
    padding-bottom: 25px;  
} 
.imgbox img {    
    display: block;
    width: 90%; 
    height: auto;   
   opacity: 0.9; 
   margin-left: auto;
   margin-right: auto; 
}
.imgbox p {
    text-align: center;
    color: rgb(73, 89, 114);
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}
footer {
    border-top: 1px solid lightslategray;
    text-align: center;
}
footer  p {
  font-size: 10px;
}
.address {
    margin: 20px 0;
   padding: 20px;
    font-size: 1rem;
    color: rgb(73, 89, 114);
    width: 100%;
    letter-spacing: 2px;
    background-color: rgb(191, 214, 185);
    border-radius: 5px;
}

/* For landscape-Phones, portrait-Tablets , 600px and up */  
@media only screen and (min-width:600px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;     
        top: 0;  
        background-color: rgb(207, 217, 248);  
        position: fixed;   
        width: 100%;
        z-index: 2;
        border-bottom: 2px solid rgb(134, 134, 134);    
    }
    nav a {
        text-decoration: none;
        color:  rgb(99, 96, 96);
       font-size: 19px;
       padding: 15px;  
       letter-spacing: 2px;;
    }
    header {
       position:initial;  
       letter-spacing: 2px; 
       margin-top: 70px;
       margin-bottom: 15px;
       padding-top: 10px;  
       
    }
    .about  {
        margin-top: 5px; 
        display: flex; 
        flex-flow: column wrap;       
    }    
    .img1 {
        width: 80%;
       align-self: center; 
        margin-top: 10px;   
    }
     .img2 {
        max-width: 300px;
        height: auto;
        margin-bottom: 15px;
    }
    .about ul {
        margin: 0 30px 20px 40px;
    }
    .shop {
        display: flex;
        flex-direction: row;       
    }
    .imgbox img{
        width: 90% ;
        height: 150px;
    }
    .address {
        display: none;
    }
    footer  {
        margin: 20px;    
    }
    }
